@font-face {
    font-family: "iconfont"; /* Project id 3252935 */
    src: url('font/font_3252935_1p86piwz5hc.woff2') format('woff2'),
    url('font/font_3252935_1p86piwz5hc.woff') format('woff'),
    url('font/font_3252935_1p86piwz5hc.ttf') format('truetype');

}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-sign_qq:before {
    content: "\e637";
}

.icon-weixin:before {
    content: "\e62f";
}

.icon-weibo:before {
    content: "\e883";
}

.icon-blog1:before {
    content: "\eaf9";
}

.icon-zhihu:before {
    content: "\e635";
}

.icon-blog:before {
    content: "\e656";
}

.icon-QQ:before {
    content: "\e882";
}

.icon-github:before {
    content: "\e63a";
}

.icon-bilibili:before {
    content: "\e609";
}

.icon-gitee:before {
    content: "\e60c";
}

.icon-arrow-down:before {
    content: "\e665";
}

.icon-other:before {
    content: "\e62d";
}

.icon-Chat:before {
    content: "\ea94";
}

.icon-dashang:before {
    content: "\e625";
}

.icon-dashang1:before {
    content: "\e692";
}

.icon-dashang2:before {
    content: "\e6c7";
}

.icon-chushoujiage:before {
    content: "\e602";
}

.icon-liuyan:before {
    content: "\e60a";
}

.icon-wangzhan:before {
    content: "\e6f5";
}

.icon-shipin:before {
    content: "\e63b";
}

.icon-gengduo:before {
    content: "\e8a6";
}

.icon-jia:before {
    content: "\e8a7";
}

.icon-meishi:before {
    content: "\e8f8";
}

.icon-game:before {
    content: "\e6df";
}

.icon-pic:before {
    content: "\e6a8";
}

.icon-admin:before {
    content: "\ea49";
}

.icon-sousuo:before {
    content: "\e622";
}

.icon-kaifa:before {
    content: "\e67e";
}

.icon-kaixin-yuan:before {
    content: "\e7d0";
}

.icon-settings:before {
    content: "\e615";
}

.icon-qukuaixinxi_huaban:before {
    content: "\e60d";
}

.icon-aixin:before {
    content: "\eca1";
}

.icon-icon-admin:before {
    content: "\e601";
}

.icon-aixin--xian:before {
    content: "\e895";
}

.icon-email:before {
    content: "\e66f";
}

.icon-link:before {
    content: "\e676";
}

.icon-lianxiren:before {
    content: "\e645";
}

.icon-home:before {
    content: "\e6b8";
}